---
import { mockData3 } from "../../data/MockData";
import Hero from "../../sections/Hero.astro";
import Products from "../../sections/Products";
import ProductLayout from "../../sections/ProductsLayaout";
import Header from "../components/Header";
import Layout from "../layouts/Layout.astro";

const { header, hero, products } = mockData3;

let storeName = "";

try {
	const res = await fetch("https://showby.marcospd.ninja/catalog/tech-world");
	if (!res.ok) {
		throw new Error("No se encontró la tienda");
	}
	const storeData: { name: string } = await res.json();
	console.log("Respuesta de la API:", storeData);

	// Asignamos el name
	storeName = storeData.name;
} catch (err) {
	console.error(err);
}
---

<Layout
	description="Tienda Online"
	title="MultiStore"
	canonical="./favicon.svg"
>
	<Header
		client:load
		logoUrl={header.logoUrl}
		storeName={header.storeName}
		categories={header.categories}
		onSearch={(query) => console.log("Search query:", query)}
		onFilterByCategory={(category) =>
			console.log("Filter by category:", category)}
		selectStyle="default"
	/>
	<Hero
		logoUrl={hero.backgroundImage}
		name={hero.title}
		description={hero.subtitle}
	/>

	<div class="flex flex-col items-center justify-center">
		<h1 class="text-3xl md:text-5xl font-bold mb-4 drop-shadow">
			<h1 class="text-3xl">{storeName}</h1>
		</h1>
		<ProductLayout client:load header={header} />
	</div>
</Layout>
