---
import RichResults from "./RichResults.astro";

interface Props {
    title: string;
    description: string;
    canonical?: string;
    image?: string;
}

const {
    title,
    description,
    canonical,
    image = "https://eldertavarez.vercel.app/elderTavarezLink.jpg",
} = Astro.props as Props;

const determineCanonicalURL = () => {
    if (Astro.url.host.includes("localhost")) return "http://localhost:4321";
    return canonical || Astro.url.pathname;
};

const canonicalURL = new URL(determineCanonicalURL(), Astro.site);
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="preconnect" href="https://eldertavarez.vercel.app/" />

<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#1E1E1E" />

<meta
    name="keywords"
    content="developer, desarrollador, mobile, santo domingo, elder, tavarez, react native, react, contratar, frontend, web"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@moisestavarez3" />
<meta name="twitter:creator" content="@moisestavarez3" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content="Portafolio Elder Tavarez" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/icon.svg" />
<link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png" />

<link rel="icon" type="image/svg+xml" href="/icon.svg" />
<meta name="msapplication-config" content="/browserconfig.xml" />

<RichResults />
